@model IEnumerable<EmployesWork.WebUI2.Shedules>


<table class="table" id="emTable">
    <caption><a href="javascript:create()">Добавить</a></caption>
    <tr>
        <th>
            Бригада
        </th>
        <th>
            График
        </th>
        <th colspan="3">Действия</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Id == 6) { continue; }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sheduler)
            </td>
            <td>
                <a href="javascript:edit('@item.Id')">Редактировать</a> |
               
                <a href="javascript:deletee('@item.Id')">Удалить</a>
            </td>
        </tr>
    }

</table>
