
@{
    ViewBag.Title = "УАМ участок ТЭЦ-ПВС";
}

@Styles.Render("~/Content/StyleSheetIndex.css")

<div id="wrap">
    <a href="~/Admin/WorkDays">Табель выходов</a>
    <a href="~/Admin/Employes">Профили</a>
    <a href="~/Admin/Shedules">Графики</a>
</div>