.wrap_fill_change_day_concrete input[type=text] {
    width:100px;
    text-align:center;
    border: none;
    border-bottom:1px dotted #333;
    font-size:1.2em;
    margin-bottom: 0px;
    margin-top:-10px;
    padding:15px;
}
.wrap_fill_change_day_concrete select {
    width:150px;
    text-align:center;
    border: none;
    border-bottom:1px dotted #333;
    font-size:1.2em;
    padding:15px;
}
.wrap_fill_change_day_concrete .subm {
   
    width:525px;
    margin:0 auto;
    box-shadow:0 0 1px 2px black;

}
.wrap_fill_change_day_concrete .subm input[type=submit] {
    width:100%;
    height:40px;
    text-align:center;
    display:block;
    padding:10px;
    font-size:16px;
    background-color:#9d0c0c;
    border:none;
    color:#f5f5f5;
    cursor:pointer;
    
}
.wrap_fill_change_day_concrete .subm a {
    width:100%;
    height:20px;
    text-align:center;
    display:block;
    padding:10px 0 ;
    font-size:16px;
    text-decoration:none;
    background-color:#9d0c0c;
    border:none;
    color:#f5f5f5;
    margin-top:5px;
    margin-bottom:20px;
}
.wrap_fill_change_day_concrete .subm a:hover,
.wrap_fill_change_day_concrete .subm input[type=submit]:hover {
    color:gold;
}
.wrap_fill_change_day_concrete .form-horizontal div {
    
    width:525px;
    margin:20px auto;
    text-align:center;

}
.wrap_fill_change_day_concrete .form-horizontal div h4 {
    padding:5px;
    font-size: 1.5em;  
    border-bottom:1px dotted black;
}

