
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="index_wrapper">
    <h2>Администрирование</h2>
    <div class="block_main"><a href="/Admin/FillMonth">Месяц</a></div>
    <div class="block_main"><a href="/Admin/EditProfiles">Профили</a></div>
    <div class="block_main"><a href="/Admin/EditShedules">Графики</a></div>
</div>